In [ ]:
# import les modules nécessaires
import numpy as nmp
import pandas as pd

In [ ]:
# configurer pandas pour afficher toutes les colonnes et éviter les avertissements de rétrocompatibilité
pd.set_option('display.max_columns', None) 
pd.set_option('future.no_silent_downcasting', True)

In [ ]:
# lire le fichier CSV contenant les données des Pokémons
nosPokemons = pd.read_csv("datas/pokedex.csv")
# afficher les noms des colonnes du DataFrame
print(nosPokemons.columns.values)

In [ ]:
print(nosPokemons.head(10))  # afficher les 10 premières lignes du DataFrame

In [ ]:
# nettoyer la colonne "LEGENDAIRE" en remplaçant les valeurs "VRAI" et "FAUX" par 1 et 0 respectivement, puis convertir la colonne en type entier
nosPokemonsClean = nosPokemons
nosPokemonsClean["LEGENDAIRE"] = nosPokemonsClean["LEGENDAIRE"].replace("VRAI", 1)
nosPokemonsClean["LEGENDAIRE"] = nosPokemonsClean["LEGENDAIRE"].replace("FAUX", 0)
nosPokemonsClean["LEGENDAIRE"] = nosPokemonsClean["LEGENDAIRE"].astype(int)
print(nosPokemonsClean.head())

In [ ]:
# afficher la forme et les informations du DataFrame nettoyé 
print(nosPokemonsClean.shape)
print(nosPokemonsClean.info())

In [ ]:
print(nosPokemonsClean[nosPokemonsClean['NOM'].isnull()])  # afficher les lignes où la colonne "NOM" est nulle

In [ ]:
# afficher les noms des Pokémons aux indices 61 et 63 pour retrouver les valeurs manquantes
print(nosPokemonsClean['NOM'][61])
print(nosPokemonsClean['NOM'][63])

In [ ]:
nosPokemonsClean['NOM'][62] = "Colossinge"  # remplacer la valeur manquante par "Colossinge"
# afficher le nom du Pokémon à l'indice 62, qui est manquant
print(nosPokemonsClean['NOM'][62])

In [12]:
#Chargement des données des combats
combats = pd.read_csv("datas/combats.csv")

#Affichage des colonnes du Dataframe
print(combats.columns.values)

#Affichage des 10 premières lignes du Dataframe
print(combats.head(10))

#Comptage du nombre de lignes et de colonnes
print (combats.shape)

#Informations sur notre jeu de données
print (combats.info())

['Premier_Pokemon' 'Second_Pokemon' 'Pokemon_Gagnant']
   Premier_Pokemon  Second_Pokemon  Pokemon_Gagnant
0              266             298              298
1              702             701              701
2              191             668              668
3              237             683              683
4              151             231              151
5              657             752              657
6              192             134              134
7               73             545              545
8              220             763              763
9              302              31               31
(50000, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Premier_Pokemon  50000 non-null  int64
 1   Second_Pokemon   50000 non-null  int64
 2   Pokemon_Gagnant  50000 non-null  int64
dtypes: int64(3)
memory usage: 1.1 MB
None